table {
    color: #ffffff;
}

.cabecalho-moda {
    background-color: #BB86FC;
}

.cabecalho-casa {
    background-color: #00C4B4;
}

.data {
    background-color: #424250;
}

th, td{
    padding: 6px;
}